#contacts {
    background-color: #000;
    color: #fff;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#contacts_title {
    height: 100vh;
    font-family: "Ndot-55";
    font-size: 5vh;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fff;
    color: #000;
    width: fit-content;
    max-width: 5vw;
    position: relative;
    float: right;
}

#contacts_title h1 span::after {
    content: '\A';
    white-space: pre;
}

#contact_text {
    height: 100vh;
    width: 20vw;
    background-color: #fff;
    color: #000;
    float: left;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    align-items: center;
    font-size: 130%;
}

#contact_cards_outer {
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact_cards {
    background-color: #fff;
    width: 100%;
    margin: 20px;
    padding: 5px;
    display: flexbox;
}
.contact {
    color: #000;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.contact:nth-child(odd) {
    background-color: #000;
    color: #fff;
}
.contact_title {
    width: 50%;
    font-size: 4vmax;
    padding-left: 0.5em;
    border-right: 2px solid #fff;
}
.contact:nth-child(even) > .contact_title {
    border-color: #000;
}

.contact_name {
    width: 50%;
    text-align: center;
    font-size: 150%;
}
.contact_name a {
    color: white;   
}
.contact_name a:visited {
    color: white;
}

@media (max-aspect-ratio: 1/1) {
    #contacts_title {
        height: fit-content;
        width: 100vw;
        padding: 0;
        font-size: 10vw;
        justify-content: center;
        max-width: 100vw;
        float: left;
    }
    #contacts_title h1 span::after {
        content: none;
        white-space: none;
    }

    #contact_text {
        width: calc(100vw - 2em);
        padding: 1em;
        margin: 0;
        height: auto;
        font-size: 4.5vmin;
    }

    #contact_cards_outer {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
    }
    #contact_cards {
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .contact {
        height: 10vh;
    }
    .contact_title {
        font-size: 200%;
        width: 50vw;
    }
    .contact_name {
        font-size: 90%;
        width: 50vw;
    }
}