* {
    margin: 0;
    padding: 0;
}

#introduction {
    height: 100vh;
    border: 1em solid #fff;
    border-top: none;
    border-bottom: none;
    position: relative;
    overflow: hidden;
}

#intro_title {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
}
#intro_title .title {
    width: 70vw;
}

#intro_text_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#intro_text {
    padding: 1em;
    max-width: 70vw;
    font-size: 120%;
}

#intro_footer {
    background-color: #fff;
    color: #000;
    position: absolute;
    bottom: 0;
    height: 2em;
    width: 100%;
    text-align: center;
}

.title_big {
    background-color: #000;
    font-size: 600%;
    letter-spacing: 5px;
    font-weight: 900;
}

.ndot {
    font-family: "Ndot-55";
    font-weight: 500;
    color: var(--color-white)
}

.heart {
    color: var(--color-red);
}

@media (max-aspect-ratio: 1/1) {
    #introduction {
        border-width: 0.5em;
    }
    #intro_text {
        padding: 0.5em;
        max-width: 90vw;
        font-size: calc(45% + 2vw);
    }
    .title_big {
        font-size: 3.3em;
        width: 100%;
        text-align: center;
    }
    #intro_title {
        text-align: center;
        display: block;
    }
    #intro_title .title {
        width: auto;
    }
}